[submodule "Tau4Mac"]
	path = Tau4Mac
	url = https://github.com/TongKuo/Tau4Mac.git
	
[submodule "Deps/PureLayout"]
	path = Deps/PureLayout
	url = https://github.com/PureLayout/PureLayout.git
	
[submodule "Deps/CocoaLumberjack"]
	path = Deps/CocoaLumberjack
	url = https://github.com/CocoaLumberjack/CocoaLumberjack.git
	
[submodule "Deps/GTL"]
	path = Deps/GTL
	url = https://github.com/google/google-api-objectivec-client.git
[submodule "Deps/OAuthSigningConstants"]
	path = Deps/OAuthSigningConstants
	url = https://gist.github.com/9aea4d69fac1cf0ba27d.git
[submodule "Deps/KVOController"]
	path = Deps/KVOController
	url = https://github.com/facebook/KVOController.git
[submodule "Deps/XCDYouTubeKit"]
	path = Deps/XCDYouTubeKit
	url = https://github.com/0xced/XCDYouTubeKit.git
